<section class="challenges-index">
  <div class="m-b-3">
    <div class="container">
      <div class="row">
        <h1>My challenges <span class="badge"><%= @challenges.count %></span></h1>
      </div>
    </div>
  </div>
  <div class="container m-t-0">
    <div class="block-grid-lg-4 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
      <% @challenges.each do |challenge| %>

      <div class="block-grid-item">
        <div class="card">
          <h4 class="card-title"><%= challenge.name %></h4>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="pull-right right-list-content"><%= challenge.uid %></span>
              ID
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Submits recieved
            </li>
            <li class="list-group-item">
              <span class="pull-right right-list-content">
                <%= link_to '<i class="glyphicon glyphicon-remove-circle  "></i>'.html_safe , challenge_path(challenge.id), method: :delete , data: { confirm: "are you sure?"} %>
              </span>
              <%= link_to 'view', challenge_path(challenge) %>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
    <% if @challenges.empty? %>
    <div class="row">
      <p>Seems like you don't have any challenges yet.</p>
    </div>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
    <hr>
      <div class="btn-group">
       <%= link_to 'Create challenge', new_challenge_path, class: "btn btn-default btn-lg pull-right" %>
     </div>
   </div>
 </div>
</section>
