<!DOCTYPE html>
<html>
<head>
  <title>CodejudgeApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/alerts' %>
  <%= render 'layouts/nav' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
